body {
  box-sizing: border-box;
}

.main-content {
  padding: 32px
}


.section {
  margin: 16px 0 32px;
}

.section.active .section-title {
  color: red;
}

.section.active {
  box-shadow: 0 0 20px #999;
}

.section.closed .collapse-img {
  transform: scaleY(1);
}

.section.closed .section-content {
  height: 0;
  padding: 0;
}

.section-header {
  height: 40px;
  display: flex;
  border: 1px solid #666666;
  border-radius: 4px 4px 0 0;
  align-items: center;
  cursor: pointer;
}

.section-title {
  text-align: center;
  font-weight: bold;
  flex: 1;
}

.collapse-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.collapse-img {
  width: 16px;
  height: 16px;
  transform: scaleY(-1);
}


.section-content {
  height: 400px;
  padding: 16px;
  border: 1px solid #666666;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  transition: height .5s, padding .5s;
}

.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: white;
  box-shadow: -4px 0 10px #666;
  padding: 8px 16px;
  transition: width .25s, padding .25s;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar.closed {
  width: 0;
  padding: 0;
}

.sidebar-list {
  padding-inline-start: 0;
}

.sidebar-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.sidebar-item.active a {
  color: red;
}

.sidebar-link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.templates {
  display: none;
}

.backToTop {
 display: flex;
 width: 32px;
 height: 32px;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 position: fixed;
 bottom: 32px;
 right: 32px;
 box-shadow: 0 0 10px #999;
 background-color: white;
 cursor: pointer;
}

.backToTop.hidden {
  display: none;
}

.backToTop-img  {
  height: 16px;
  width: 16px;
}

